<div class="footer">
    <div class="row">
        <div class="col-md-5">
            PRÉVIA SAFE – Saúde Ocupacional, Higiene e Segurança S. A.
        </div>
        <div class="col-2">

        </div>
        <div class="col-md-5">
            <div class="float-md-right">
                Copyright © 2020. Yellow Mouse Software Company <a target="_blank" href="http://yellowmousesoft.com"> www.yellowmousesoft.com </a>
            </div>
        </div>
    </div>
</div>
