@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="nav navbar-top-links navbar-right flex-nowrap pl-3 pl-md-0 justify-content-md-end">
    @if (SignInManager.IsSignedIn(User))
    {

        <li class="nav-item text-nowrap">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Editar"><i class="fa fa-cog"></i> Olá @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn"><i class="fa fa-sign-out-alt fa-2x icone"></i></button>
            </form>
        </li>
    }
</ul>
