
<div class="row border-bottom">   
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="col-md-6">
            <div class="navbar-header text-nowrap">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                <h3 class="pt-3 pl-md-5 ml-md-5" style="font-size:14px; color:#121416">@ViewData["Title"]</h3>
            </div>
        </div>
        <div class="col-md-6">
            <partial name="_LoginPartial" />
        </div>
    </nav>
</div>