
<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header text-nowrap">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <h3 class="pt-3 pl-md-5 ml-md-5">@ViewData["Title"]</h3>
        </div>
        <partial name="_LoginPartial" />
    </nav>
</div>