@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @{
        if ((bool) @ViewData["IsInRoleAdmin"])
        {
            @Html.ActionLink("User List", "Index", "Users")
        }
        else
        {
            @Html.ActionLink("Livro de Ponto", "Index", "Records")
        }
    }
</div>
