@page
@model ForgotPasswordModel
@{
    Layout = "/Views/Shared/_Layout_Login.cshtml";
    ViewData["Title"] = "Esqueceu a sua palavra passe?";
}


<div class="middle-box text-center loginscreen animate__animated animate__fadeIn mt-5">
    <div>
        <img class="img-fluid" src=@Url.Content("~/images/logo/logo-previa-safe.png") />
    </div>
    <form class="m-t" method="post">
        <h3 class="m-t">@ViewData["Title"]</h3>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Input.Email" class="form-control" placeholder="Email" />
        </div>
        <button type="submit" class="btn btn-primary">Submeter</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
