@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação do Registo";
}

<div class="row">
    <div class="col-md-4 offset-md-4 p-2">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <p>
            Caro funcionário, obrigada para efetuar o registo em aplicação "Previa Safe".
            Por favor, espera o email da confirmação do registo, apos de aprovação por parte de Administrador.
        </p>
    </div>
</div>
