
/*Custom css*/

.icone {
    color: #1ab394;
}

.icone:hover {
    color: #18a689;
}

#IntervalType {
    max-width: 200px;
    margin:auto;
}

@media (max-width: 500px) {
    #IntervalType {
        max-width: 150px;
        margin: auto;
    }
}