
/*Custom css*/

/*green icone*/
.icone {
    color: #1ab394;
}

.icone:hover {
    color: #18a689;
}

/*Interval type dropdown*/
#IntervalType {
    max-width: 200px;
    margin:auto;
}

@media (max-width: 500px) {
    #IntervalType {
        max-width: 150px;
        margin: auto;
    }
}

#stop-btn {
    background-color: #f44336;
    border-color: #f44336;
}

#stop-btn:hover {
    background-color: #f22112;
    border-color: #ea1c0d;
}

#timer {
    font-size: 16px;
    font-weight:600;
}

#bootstrap_daterange_calendar {
    max-width: 300px;
}

/*@media (max-width: 590px) {
    #bootstrap_daterange_calendar {
        max-width: 50px;
    }
}*/

.nav-pills .nav-link.active {
    background-color: #1ab394;
}

    .nav-pills .nav-link.active:hover {
        background-color: #18a689;
    }

/*address red asterisk to labelfor for required fields*/

.required:after {
    content: "*";
    font-weight: bold;
    color: #d02629;
    padding-left: 2px;
}

.atraso::after {
    content: "!";
    font-weight: bold;
    color: #ed5565;
    padding-left: 2px;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td.dtr-control::before {
    background-color: #1ab394 !important;
}